<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519571937136-ce9n6d080n869vpl82qekn2nn12p2iih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519571937136-ce9n6d080n869vpl82qekn2nn12p2iih</string>
	<key>API_KEY</key>
	<string>$(MAPS_API_KEY)</string>
	<key>GCM_SENDER_ID</key>
	<string>519571937136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.picupline</string>
	<key>PROJECT_ID</key>
	<string>pic-up-line</string>
	<key>STORAGE_BUCKET</key>
	<string>pic-up-line.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519571937136:ios:597b73aa105f16757f61b5</string>
	<key>DATABASE_URL</key>
	<string>https://pic-up-line.firebaseio.com</string>
</dict>
</plist>